.major-tabs-list {
  background-color: var(--body-shade-1);
}

.major-tabs-tab {

  &[data-active] {
    opacity: 1;
    background-color: var(--mantine-color-body);
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
  }

  .mantine-CloseButton-root {
    display: none;
  }

  &:hover {
    .mantine-CloseButton-root {
      display: flex;
    }

    .dot {
      display: none;
    }
  }

  /* Make sure the + new request button doesn't obstruct a tab when scrolled */
  scroll-margin-right: 50px;
}

.major-tabs-tab .label {
  font-weight: 500;
  opacity: 0.65;
}

.major-tabs-tab:hover .label {
  opacity: 1;
}

.major-tabs-tab[data-active] .label {
  opacity: 1;
}