.navbar {
  background-color: var(--body-shade-2);
  border: 0;
}

.navbar-list::before {
  border: solid 0px green !important;
}

.navbar-tab {
  color: var(--text-color-lighter-2);
}

.navbar-tab:hover {
  color: var(--text-color-lighter-1);
}

.navbar-tab[data-active="true"] {
  color: var(--text-color);
}