.main-split-grid {
  height: 100%;
  width: 100%;
  display: grid;
}

.request-split-grid {
  height: 100%;
  width: 100%;
  display: grid;
  column-gap: 0;
}

.split-handle {
  cursor: ew-resize;
  background-color: var(--mantine-color-default-border);
}

.split-handle-request {
  cursor: ew-resize;
  background-color: var(--mantine-color-gray-3);
}

.split-handle:hover, .split-handle-request:hover {
  background-color: var(--mantine-primary-color-filled-hover);
  padding-left: 1px;
  padding-right: 1px;
  z-index: 10;
}
