.main-split-grid {
  height: 100%;
  width: 100%;
  display: grid;
}

.request-split-grid {
  height: 100%;
  width: 100%;
  display: grid;
  column-gap: 0;
}

.split-handle {
  position: relative;
  outline: none;
  background-color: var(--mantine-color-gray-2);
}

/* The split handle hit area, which is wider than the handle visual */
.split-handle::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;

  /* Centers the handle hit area */
  left: 50%;
  transform: translateX(-50%);

  /* The width of the handle hit area */
  width: 6px;

  cursor: ew-resize;
}

.split-handle-request {
  cursor: ew-resize;
  background-color: var(--mantine-color-gray-1);
  /* width: 4px; */
  height: 100%;
}

.split-handle:hover, .split-handle-request:hover {
  background-color: var(--mantine-primary-color-filled-hover);
  /* padding-left: 1px; */
  /* padding-right: 10px; */
  z-index: 10;
}
