<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= htmlWebpackPlugin.options.GA_MEASURE_ID %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '<%= htmlWebpackPlugin.options.GA_MEASURE_ID %>');
    </script>
    <meta charset="UTF-8" />
    <title>Inflight REST Client</title>

  </head>
  <body>
    <div id="root" style="height:100vh" />
  </body>
</html>
